body{
    background-color: #0060af !important;
    font-family:'Fredoka One', cursive !important; 
    color: white;
}

h1 {
    text-align: center;
    color: white;
    font-size: 8em !important;
}

.container{
    font-size: 10px;
}

.state-button{
    background: none;
    letter-spacing: 6px;
    color: white;
    border-style: solid;
    border-color: red;
    border-width: thick;
    padding: 25px 40px;
    margin: 1em;
    text-align: center;
    display: block;
    box-shadow: none;
    font-size: 8em;
    transition: border-color background-color box-shadow;
    transition-duration: 300ms;
}

.state-button:hover{
    background-color: #2f83c7;
    text-decoration: none;
    color:white;
    border-color: white;
    box-shadow: 0 0 5px 5px #b1b1b1;
}

table, td {
    font-size: 4em;
    color: white;
}

.centered {
    text-align: center;
}

.tablesDiv {
    display: inline-block;
}

.peopleLink {
    color: white;
}

.peopleLink:hover{
    color: red;
    text-decoration: none;
}

.back-button{
    background-color: #0060af;
    color:white;
    border: none;
    text-align: center;
    font-size: 4em;
}

#back{
    color:white;
}

#back:hover{
    color: red;
    text-decoration: none;
}